services:
  collector:
    build:
      context: .
      dockerfile: docker/Dockerfile.collector
    container_name: meows-collector
    env_file:
      - .env
    volumes:
      - data:/data
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    container_name: meows-frontend
    env_file:
      - .env
    environment:
      - FRONTEND_COLLECTOR_URL=${FRONTEND_COLLECTOR_URL:-http://collector:${COLLECTOR_PORT}}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - collector
    restart: unless-stopped

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/data
      o: bind
